body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('ad.jpg'); /* 图像文件的路径 */
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: #2d2e30;
    color: #fff; /* 白色文字 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    font-family: Arial, sans-serif;
    font-size: 16px;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; /* 白色链接文字 */
}

.user-options a {
    text-decoration: none;
    color: #fff; /* 白色链接文字 */
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.7);;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.room-list {
    list-style: none;
    padding: 0;
}

.room-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.room-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-number {
    font-weight: bold;
}

.temperature-display {
    font-weight: bold;
}

.ac-status {
    margin-top: 10px;
}

.ac-status-info {
    font-weight: bold;
}


.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    font-family: Arial, sans-serif;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .user-options a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
  }
  
  .user-options a:hover {
    text-decoration: underline;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"],
  select,
  button {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  button {
    background-color:  #2d2e30;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
  }
  
  button:hover {
    background-color: #2d2e30;
  }
  

  

.welcome {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#2d2e30; /* 白色文字 */
    font-family:"Times New Roman"
}

.welcome h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 30px;
    margin-bottom: 20px;
    
}

