


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
   
}


/* .control-panel {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
 .control-panel {
            background-color: rgba(255, 255, 255, 0.7);
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.control-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.temperature-control, .fan-speed-control, .mode-control {
    flex: 1;
    margin: 10px;
}

.temperature-display, .fan-speed-display {
    font-size: 24px;
    margin: 10px 0;
}

input[type="range"] {
    width: 100%;
}

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.status {
    flex: 1;
    margin: 10px;
}

span {
    font-size: 18px;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.header{
    background-color:#2d2e30;

}
.container{
    width: 1500px;;
    
    margin: 0 auto;
}
.Poput_Hotel{
    float:left;
    color: white;
    height: 60px;
    line-height: 60px;
    margin-right: 450px;
}
.menu{
    float:left;
    color: white;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
}
.account{
    float:right;
    color: white;
    height: 60px;
    line-height: 60px;
}
.header  a{
    color:#fff;
    line-height:60px;
    display:inline-block;
    font-size:16px;
    margin-right: 5px;
}
.header a:hover {
    text-decoration: underline;
  }