<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>酒店登录</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <p>Poput Hotel</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">客房</a></li>
                <li><a href="#">餐厅</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </nav>

        <!-- <div class="language">
            <select>
                <option value="en">English</option>
                <option value="zh">中文</option>
            </select>
        </div> -->

        <div class="user-options">
            <a href="#" onclick="showEnterRoomForm()">进入房间</a> | 
            <a href="#" onclick="showRegisterForm()">办理入住</a> | 
            <a target="_blank" href="D:\workspace\web\Administrator.html">后台</a></div>
            

        <div id="registerForm" class="modal">
            <div class="modal-content">
              <span class="close" onclick="closeRegisterForm()">&times;</span>
              <h2>办理入住</h2>
              <form id="checkInForm" >
                <label for="roomNumber">选择房间:</label>
                <select id="roomNumber" name="roomNumber">
                  <option value="101">101</option>
                  <option value="102">102</option>
                  <option value="103">103</option>
                  <!-- 添加更多房间选项 -->
                </select>
                <br>
                <label for="username">用户名:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">密码:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <label for="confirmPassword">确认密码:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                <br>
                <button type="submit" onclick="submitForm()">提交</button>
           
              </form>
            </div>
          </div>



          <div id="enterRoomFrom" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeEnterRoomForm()">&times;</span>
                <h2>进入房间</h2>
                
                <form id="checkInForm" >
                    <label for="roomNumber">选择房间:</label>
                    <select id="roomNumber1" name="roomNumber1">
                      <option value="101">101</option>
                      <option value="102">102</option>
                      <option value="103">103</option>
                      <!-- 添加更多房间选项 -->
                    </select>
                    <br>
                    <label for="username">用户名:</label>
                    <input type="text" id="username1" name="username1" required>
                    <br>
                    <label for="password">密码:</label>
                    <input type="password" id="password1" name="password1" required>
                    <br>
                    <button type="submit" onclick="enterRoom()">进入房间</button>
                </form>
            </div>
          </div>

          <script src="../static/script.js"></script>
          
    </header>
    
    <div class="banner">

        <img src="../static/home1.jpg" alt="酒店横幅">
        <div class="welcome">
            <h1>波普特酒店欢迎您！</h1>
            <h2>尽情享受奢华的住宿体验</h2>
   
        
        </div>
    </div>


</body>
</html>
