<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>波普特酒店空调管理</title>
    <link rel="stylesheet" type="text/css" href="../static/styles_ad.css">

    
</head>
<body>
    <div class="header">
        <div class="logo">
            <p>Poput Hotel</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">客房</a></li>
                <li><a href="#">餐厅</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </nav>

        <div class="user-options">
            <a href="#" onclick="showloginForm()">登录</a> | 
            <a href="#" onclick="showRegisterForm()">注册</a> | 
        </div>

        <div id="registerForm" class="modal">
            <div class="modal-content">
              <span class="close" onclick="closeRegisterForm()">&times;</span>
              <h2>注册</h2>
              <form id="checkInForm" action="{% url 'manager:register_manager' %}" method="post">
                {% csrf_token %}
                <label for="identity">选择身份:</label>
                <select id="identity" name="identity">
                  <option value="air_service">空调管理员</option>
                  <option value="front_service">前台服务</option>
                </select>
                <br>
                <label for="username">用户名:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">密码:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <label for="confirmPassword">确认密码:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                <br>
                <button type="submit" onclick="submitForm()">注册</button>
           
              </form>
            </div>
          </div>


          <div id="loginFrom" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeloginForm()">&times;</span>
                <h2>进入房间</h2>
                
                <form id="checkInForm" action="{% url 'manager:login_manager' %}" method="post">
                    {% csrf_token %}
                    <label for="identity">选择身份:</label>
                    <select id="identity1" name="identity1">
                        <option value="air_service">空调管理员</option>
                        <option value="front_service">前台服务</option>
                        <option value="hotel_manager">酒店经理</option>
                    </select>
                    <br>
                    <label for="username">用户名:</label>
                    <input type="text" id="username1" name="username1" required>
                    <br>
                    <label for="password">密码:</label>
                    <input type="password" id="password1" name="password1" required>
                    <br>
                    <button type="submit" onclick="login()">登录</button>
                </form>
            </div>
          </div>


    </div>

    <div class="banner">


        <div class="welcome">
            <h1>波普特酒店后台管理系统</h1>   
        </div>
    </div>




    <script src="../static/script_ad.js"></script>
</body>
</html>
