<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>波普特酒店空调管理</title>
    <link rel="stylesheet" type="text/css" href="styles_ad.css">

    
</head>
<body>
    <div class="header">
        <div class="logo">
            <p>Poput Hotel</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">客房</a></li>
                <li><a href="#">餐厅</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </nav>

        <div class="user-options">
            <a href="#" onclick="showloginForm()">登录</a> | 
            <a href="#" onclick="showRegisterForm()">注册</a> | 
        </div>

        <div id="registerForm" class="modal">
            <div class="modal-content">
              <span class="close" onclick="closeRegisterForm()">&times;</span>
              <h2>注册</h2>
              <form id="checkInForm" >
                <label for="identity">选择身份:</label>
                <select id="identity" name="identity">
                  <option value="air_service">空调管理员</option>
                  <option value="front_service">前台服务</option>
                </select>
                <br>
                <label for="username">用户名:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">密码:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <label for="confirmPassword">确认密码:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                <br>
                <button type="submit" onclick="submitForm()">注册</button>
           
              </form>
            </div>
          </div>


          <div id="loginFrom" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeloginForm()">&times;</span>
                <h2>登录 </h2>
                
                <form id="checkInForm" >
                    <label for="identity">选择身份:</label>
                    <select id="identity1" name="identity1">
                        <option value="air_service">空调管理员</option>
                        <option value="front_service">前台服务</option>
                    </select>
                    <br>
                    <label for="username">用户名:</label>
                    <input type="text" id="username1" name="username1" required>
                    <br>
                    <label for="password">密码:</label>
                    <input type="password" id="password1" name="password1" required>
                    <br>
                    <button type="submit" onclick="login()">登录</button>
                </form>
            </div>
          </div>


    </div>

  
    <div class="welcome">
        <h1>波普特酒店后台管理系统</h1>   
    </div>





    <script src="script_ad.js"></script>

    
    <!-- <div class="container">
        <ul class="room-list">
            <li class="room-item">
                <div class="room-info">
                    <span class="room-number">房间 101</span>
                </div>
                <div class="ac-status">
                    <p class="ac-status-info">空调状态: 开启</p>
                </div>
                <div class="ac-status">
                    <p class="ac-status-info">耗电量: 0.75 kWh</p>
                </div>
                <div class="ac-status">
                    <p class="ac-status-info">风速: 中风</p>
                </div>
                <div class="temperature-control">
                    <p class="ac-status-info">当前温度: 22°C</p>
                </div>
            </li>

            <li class="room-item">
                <div class="room-info">
                    <span class="room-number">房间 102</span>
                </div>
                <div class="ac-status">
                    <p class="ac-status-info">空调状态: 关闭</p>
                </div>
                <div class="ac-status">
                    <p class="ac-status-info">耗电量: 0.0 kWh</p>
                </div>
                <div class="ac-status">
                    <p class="ac-status-info">风速: 低风</p>
                </div>
                <div class="temperature-control">
                    <p class="ac-status-info">当前温度: 25°C</p>
                </div>
            </li>

      

        </ul>
    </div> -->
</body>
</html>
